/* MODIFICATIONS TO TABLE FOR RESERVATIONS*/

.table td{
    padding: 1vw 0 0 1vw !important;
    vertical-align: middle !important;
    border: none !important;
}

.table td.bottom-border-only{
    border-top: Gainsboro solid 2px !important;
}

.table td.large-text{
    font-size: 6vw;
}

.table td.tiny-text{
    font-size: 2vw;
    color: gray;
}

.table a{
    font-size: 5vw;
    cursor:pointer;
    color: black;
}

/* RESERVATIONS - NEW BUTTON */

.reservation-new-button {
    cursor:pointer;
    position:fixed;
    padding: 0vw;
    right:0;
    bottom:0;
}

/* RESERVATIONS - HEADING */

.reservations-heading {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
}

.reservations-heading div.image-container {
  background: black;
  color: black;
  flex-basis: 15vw;
    margin: auto;
}

.reservations-heading img.smallimage {
    margin: auto;
	display: block;
    padding: auto;
    max-height: 10vw;
}

.reservations-heading div.title {
  padding-top: 3vw;
  padding-left: 15vw;
  font-size: 5vw;

  flex-basis: 60vw;
}


.reservations-heading-Info {
  display: flex;
  flex-direction: column;

  flex-basis: 25vw;
}

.reservations-heading-Info div.date {
  font-size: 2vw;
  text-align: center;
  height: 8vw;
}

.reservations-heading-Info div.time {
  font-size: 4vw;
  text-align: center;
}


/* RESERVATIONS STATE SVG */

.reservation-state {
	width: 8vw;
	height: 8vw;
	font: bold 80% sans-serif;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	overflow: hidden;
    resize: both;
	color: white;
}

.reservation-state svg {
	width: 100%; height: 100%;
	pointer-events: none;
}

.reservation-state circle.holding {
    fill:green;
    stroke-width:0;
    opacity:0.5;
}

.reservation-state text {
	text-anchor: middle;
	pointer-events: auto;
	fill: currentColor;
}

.reservation-state rect.overdue {
    fill:grey;
    stroke-width:0;
    opacity:0.5;
}

.reservation-state rect.underdue {
    fill:red;
    stroke-width:0;
    opacity:0.6;
}
