{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Reserva</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for reserva in Reservas %}
        <tr>
            <td>{{ reserva.Nombre }}</td>
            <td>{{ reserva.Telefono }}</td>
            <td>{{ reserva.Reserva }}</td>
            <td><button class="btn btn-primary btn-lg">Ingresar</button></td>
            <td><button class="btn btn-primary btn-lg" color="red">Cancelar</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
