{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/lista.css')}}">
    <!--<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">-->
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-responsive table-condensed" id="table_reservas">
            <thead>
                <tr>
                    <th colspan="1" class="text-left">Reservas</th>
                </tr>
            </thead>
            <tbody>
            {% for reserva in Reservas %}
                <tr>
                    <td class="text-left" colspan="2"><h1>{{ reserva.Nombre }}</h1></td>
                    <td class="text-center" style="vertical-align: middle;" rowspan="2" id = "DueTime{{loop.index}}"></td>
                    <td class="text-center" style="vertical-align: middle;" rowspan="2">
                        <button class="btn btn-primary btn-lg" onclick="use_reservation({{ reserva.ID }})">
                            Ingresar
                        </button>
                    </td>
                    <td class="text-center" style="vertical-align: middle;" rowspan="2">
                        <button class="btn btn-primary btn-lg" onclick="cancel_reservation({{ reserva.ID }})">
                            Cancelar
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-right small">{{ reserva.Telefono }}</td>
                    <td class="text-center small" id = "Date{{loop.index}}">{{ reserva.Reserva }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="/nueva" class="btn btn-primary btn-lg">Nueva</a>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}

    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='reservation.js') }}"></script>
    <script src="{{ url_for('static', filename='reservations_table.js') }}"></script>
    <script>
        var table_reservas = document.getElementById("table_reservas");

        var data = new ReservationsTable(table_reservas, "Date", "DueTime");

        console.log("data.count = " + data.count);

        var reservation_status_timer = setInterval(function() {

            for (var i=0; i<data.count; i++) {

                var r = new Reservation(new Date(data.date(i).innerHTML));

                var lapse = r.get_lapse();

                data.dueTime(i).innerHTML = r.get_status(lapse);
            }
        },
        1000);

        function use_reservation(id) {
          console.log("use: " + id);
        }

        function cancel_reservation(id) {
          console.log("cancel: " + id);
        }
    </script>
{% endblock %}