{% extends "bootstrap/base.html" %}
{% block title %}Lista de reservas{% endblock %}

{% block navbar %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/reservations.css')}}">
    <!--<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">-->
{% endblock %}

{% block content %}
    <div class="reservations-heading">
        <span class="reservations-heading-image-container">
            <img class="reservations-heading-image" src="static\LogoSacha.png">
        </span>
        <span class="reservations-heading-text-container">
            Reservas
        </span>
    </div>
    <div id="table_container" class="container">
    </div>
    <div class="container">
        <a href="/new_reservation" class="btn btn-primary btn-lg">Nueva</a>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}

    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='reservation.js') }}"></script>
    <script>
        var table_loaded = false;

        function hide_reservation(id, color){
            var my_rows = $("tr[tag='tag_info_row_{0}']".format(id));
            my_rows.css("background-color", color)
            my_rows.hide(480);
        };

        function attach_actions_to_table_controls(){
            $("a[tag='tag_enter']").click(function(){

                $.post("change_reservation", {
                    action: "enter",
                    id: $(this).attr('reservation_id')
                },
                function(data, status){
                    if (status == "success")
                        hide_reservation(data, "green");
                });
            });

            $("a[tag='tag_cancel']").click(function(){
                $.post("change_reservation", {
                    action: "cancel",
                    id: $(this).attr('reservation_id')
                },
                function(data, status){
                    if (status == "success")
                        hide_reservation(data, "red");
                });
            });
        };

        function review_reservations_waiting_message(){
            //var numOfVisibleRows = $('tr').filter(function() {
            //    return $(this).css('display') !== 'none';
            //}).length;
            //console.log("visible rows: " + numOfVisibleRows);

            //list of all visible rows
            //var algo = $('tr').filter(':visible');
            //console.log(algo.length);

            $("td[tag='tag_status']").each(function(){
                var reservation = $(this).attr('reservation_date');

                var r = new Reservation(new Date(reservation));

                var lapse = r.get_lapse();

                $(this).html(r.get_status(lapse));
            });
        };

        function collect_reservations_table(){

            $("#table_container").html("<p>Cargando...</p>");
            table_loaded =false;

            $.post("get_reservations", {
                filter: "today",
                auto_hide: false
            },
            function(data, status){
                if (status == "success") {
                    $("#table_container").html(data);
                    attach_actions_to_table_controls();
                    review_reservations_waiting_message();
                    table_loaded = true;
                }
            });
        };

        $(document).ready(function(){

            collect_reservations_table();

            var reservation_status_timer = setInterval(function() {
                if (!table_loaded)
                    return;

                review_reservations_waiting_message();
            }, 1000);
        });
    </script>
{% endblock %}
