{% extends "base_page.html" %}

{% block content %}
    <div class="reservations-heading">
        <div class="image-container">
            <img class="smallimage" src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <div class="title">
            Nueva reserva
        </div>
        <div class="reservations-heading-Info">
            <div class="date">
                <span id="txt_current_day"></span></br>
                <span id="txt_current_month"></span></br>
            </div>
            <div id="txt_current_time" class="time">
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-control-static" action="/update_reservation" method="post">
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" required autofocus />
            </div>
            <div class="form-group">
                <label for="Telefono">Teléfono:</label>
                <input type="tel" class="form-control" id="Telefono" name="Telefono" required />
            </div>
            <div class="form-group">
                <label for="email">e-mail:</label>
                <input type="email" class="form-control" id="email" name="email" />
            </div>
            <div class="form-group">
                <label for="inpDate">Fecha:</label>
                <input type="date" class="form-control" id="inpDate" name="Fecha" required />
                <button type="button" class="btn btn-xs" tag="DateChange" action_parameter="Today">Hoy</button>
                <button type="button" class="btn btn-xs" tag="DateChange" action_parameter="Tomorrow">Mañana</button>
                <button type="button" class="btn btn-xs" tag="DateChange" action_parameter="DayAfterTomorrow">Pasado mañana</button>
                <button type="button" class="btn btn-xs" tag="DateChange" action_parameter="Increment">+</button>
                <button type="button" class="btn btn-xs" tag="DateChange" action_parameter="Decrement">-</button>
            </div>
            <div class="form-group">
                <label for="inpTime">Hora:</label>
                <input type="time" class="form-control" id="inpTime" name="Hora" list="available_hours_datalist" required />
                <datalist id="available_hours_datalist">
                    <option value="9:00 am">
                    <option value="10:00 am">
                    <option value="11:00 am">
                    <option value="12:00 pm">
                    <option value="1:00 pm">
                    <option value="2:00 pm">
                    <option value="3:00 pm">
                    <option value="4:00 pm">
                    <option value="5:00 pm">
                    <option value="6:00 pm">
                    <option value="7:00 pm">
                    <option value="8:00 pm">
                    <option value="9:00 pm">
                    <option value="10:00 pm">
                    <option value="11:00 pm">
                    <option value="12:00 am">
                    <option value="01:00 am">
                </datalist>
                <button type="button" class="btn btn-xs" tag="TimeChange" action_parameter="Increment">+</button>
                <button type="button" class="btn btn-xs" tag="TimeChange" action_parameter="Decrement">-</button>
            </div>
            <div class="form-group">
                <label for="Personas">Personas:</label>
                <input type="number" min=1 value=1 class="form-control" id="Personas" name="Personas" required />
            </div>
            <div class="form-group">
                <label for="Notas">Notas:</label>
                <input type="textarea" class="form-control" id="Notas" name="Notas" />
            </div>
            <div class="container" align="right">
                <button type="submit" class="btn btn-primary btn-lg" style="font-size: 5vw;">Aceptar</button>
                <a href="/" class="btn btn-primary btn-lg" style="font-size: 5vw;">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        //short version of: $(document).ready(function(){
        $(function(){
            $("button[tag='DateChange']").click(function(){
                var a = $(this).attr("action_parameter");
                var p = $("#inpDate");

                switch(a) {
                    case "Today":
                        p.val(offset_date_from_today_as_string(0));
                        break;
                    case "Tomorrow":
                        p.val(offset_date_from_today_as_string(1));
                        break;
                    case "DayAfterTomorrow":
                        p.val(offset_date_from_today_as_string(2));
                        break;
                    case "Increment":
                        var si = offset_date_as_string(p.val(), +1);
                        if (!(si === undefined))
                            p.val(si);
                        break;
                    case "Decrement":
                        var sd = offset_date_as_string(p.val(), -1);
                        if (!(sd === undefined))
                            p.val(sd);
                        break;
                };
            });

            $("button[tag='TimeChange']").click(function(){
                var a = $(this).attr("action_parameter");
                var p = $("#inpTime");
                var v = p.val() == "" ? "19:00:00" : p.val();

                switch(a) {
                    case "Increment":
                        var si = offset_time_as_string(v, +1);
                        if (!(si === undefined))
                            p.val(si);
                        break;
                    case "Decrement":
                        var sd = offset_time_as_string(v, -1);
                        if (!(sd === undefined))
                            p.val(sd);
                        break;
                };
            });

            $("#inpDate").change(function(){
                if (!is_valid_date($(this).val())){
                    $(this)[0].setCustomValidity("{0} no es una fecha válida".format($(this).val()));
                }
                else
                    $(this)[0].setCustomValidity("");
            });

            function update_date_time(){
                var ds = new datetime_strings();
                //$("#txt_current_year").html(ds.year);
                $("#txt_current_day").html(ds.day);
                $("#txt_current_month").html(ds.month);
                $("#txt_current_time").html(ds.time);
            };

            function retrieve_data() {
            }

            $(document).ready(function(){
                update_date_time();

                if (action === "edit")
                    retrieve_data();

                var reservation_status_timer = setInterval(function() {
                    update_date_time();
                },
                5 * 1000); // every FIVE seconds! (in JavaScript is not exact, no threading)
            });
        });
    </script>
{% endblock %}

